 
*{
    box-sizing: border-box;
  
        font-family: 'Poppins', sans-serif;
        margin: 0;
        padding:0;
        box-sizing: border-box;
   
}
 body {
    font-family: Noto Kufi Arabic,Open Sans,Helvetica Neue,Helvetica,Arial,"sans-serif";
    font-size: 16px;
    background-color:#F5F3F4;
}
a{
    text-decoration: none;
}
/* بداية تنسيق */
.terms_of_use{
    width: 100%;
    position: relative;
    bottom: 40px;
}
.link_the_boss{
position: absolute;
top: 70px;
right: 70px;

}
.link_the_boss a{
    font-size: 1.5em;
   
}
.terms{
    position: absolute;
    top:110px;
    right: 70px;
    font-size: 1.5em;
    line-height: 47px;
  
    margin-bottom: 1.5rem;
}
.terms h2{
    color: #000;
    font-size: 1.2em;
}
.text_terms_of_use{
    width: 90%;
height: 1250px;
    position: relative;
    top: 100px;
 margin-top: 100px;
 margin-right: 5%;
 background-color: #fff;
}
/* تنسيق النص داخل الدف */
.text_terms_of_use0 p{
    font-size: 1.1em;
    line-height: 47px;
margin: 10px 50px;

}
.terms_of_use_1{
    margin-top: 30px;
}
.text_terms_of_use11{
    font-size: 1.8em;
    line-height: 47px;
margin: 0px 50px; 
padding-top: 20px;
}
.text_terms_of_use12{
    margin:0px 50px;
    font-size: 1.1em;
}
.text_About_his_service2{
    margin: 10px 50px;
    font: size 1.1em;
}

/* تنسيق ul/ */
.text-ol{
    position: relative;
    right: 70px;
    width: 1200px;
   
}
.text-ol ul li p{
    margin: 10px 0px;
    overflow: auto;
}